@use "./function";
@use "./variable";

footer {
  background-color: $background-color;
  @include flexCenter;
  h4 {
    font-size: 0.6rem;
    letter-spacing: 1px;
  }
  p {
    font-size: 0.4rem;
  }
}
