@import "./function";
@import "./variable";

header {
  background-image: url(/images/background1.png);
  @include backgroundImage;
  height: 10rem;
  .header-letter-container {
    @include flexCenter;
    text-align: center;
    padding-top: 20px;
    h1 {
      font-size: 1rem;
      letter-spacing: 4px;
      margin: 0;
    }
    p {
      font-size: 0.4rem;
      letter-spacing: 2.5px;
      padding-bottom: 5px;
      margin-top: 0;
    }
  }

  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;

    input[type="text"] {
      width: 13rem;
      height: 1.2rem;
      font-size: 6px;
      color: #999999;
      letter-spacing: 1.5px;
      text-align: start;
      padding-left: 15px;
      border-style: none;
      position: relative;
    }

    .search-btn {
      @include btn;
      height: 1rem;
      width: 3.4rem;
      font-size: 6px;
      position: absolute;
      top: 60px;
      right: 49.6px;
      &:hover {
        /*Unalbe to work here*/
        box-shadow: 1px 1px 2px;
        background-color: #fff;
        border: 1px solid $main-color;
        color: $main-color;
      }
    }
  }
  .scroll-container {
    display: flex;
    flex-direction: column;

    h4 {
      font-size: 0.4rem;
      text-align: center;
      font-weight: lighter;
      padding-top: 10px;
      margin-bottom: 2px;
    }
    .fa-chevron-down {
      margin: 0 auto;
      padding-bottom: 20px;
      margin-top: 0;
      font-size: 0.4rem;
    }
  }
  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: $main-color;
    font-size: 0.32rem;
    padding: 7px;
  }
  .logo {
    padding-left: 0px;
    margin-right: auto;
    letter-spacing: 1px;
  }
  .nav-box {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 10px;
    list-style: none;
  }
  li {
    padding-left: 10px;
  }
  a {
    font-size: 0.3rem;
    text-decoration: none;
    letter-spacing: 0.2px;
    color: $letter-color;
  }
}
